<script type="text/javascript">
	var defaultColor = 'white';


	function checkPasswordIfSame() {

		var attPass = document.getElementById('attendeePassword');
		var hostPass = document.getElementById('hostPassword');

		if (attPass.value == hostPass.value) {
			hostPass.style.backgroundColor = 'red';
			$('#createMeetingButton').attr('disabled', 'disabled');
		}
		else {
			hostPass.style.backgroundColor = defaultColor;
			if (hostPass.value != "") {
				$('#createMeetingButton').removeAttr('disabled');
			} else {
				$('#createMeetingButton').attr('disabled', 'disabled');
			}
		}
	}

    function checkId() {
		var meetID = document.getElementById('meetingId');
		if (meetID.value != "" ) { 
			
			$('#enterMeetingButton').removeAttr('disabled');
			
		} else {
			$('#enterMeetingButton').attr('disabled', 'disabled');
        }
    }

	function closedMenues(d) {
		var div = document.getElementById(d);
		
			div.style.display = 'block';
			document.getElementById('PreButtons').style.display = 'none';
			if (d == 'CreateMeeting') {
				document.getElementById('backE').style.display = 'block';
			} else {
				document.getElementById('backC').style.display = 'block';
        }
	};

	function switchBetweenMenu() {
		var cm = document.getElementById('CreateMeeting');
		var em = document.getElementById('EnterMeeting');
		var backE = document.getElementById('backE');
		var backC = document.getElementById('backC');
		if (cm.style.display == 'block') {
			cm.style.display = 'none';
			em.style.display = 'block';
			backE.style.display = 'none';
			backC.style.display = 'block';

		} else {
			cm.style.display = 'block';
			em.style.display = 'none';
			backC.style.display = 'none';
			backE.style.display = 'block';

		}
    };
    
</script>
<body onload="checkId()">
	<h1>@ViewBag.title</h1>
	@* This will be positioned on the top centre *@
	<div id="centerPageIndex">
		@* This will be positioned on the bottom centre with the textboxes *@<br />
		@*create meeting*@
		<div class="centerButton">
			<div id="PreButtons">
				<button onclick="closedMenues('CreateMeeting')">Create Meeting</button>
				<br />
				<br />
				<button onclick="closedMenues('EnterMeeting')">Enter Meeting</button>
			</div>
		</div>
		@using (Html.BeginForm("meetingPageHost", "Home", FormMethod.Post)) {
			<div id="CreateMeeting">
				<input id="attendeePassword" class="widest" name="attendeePassword" onkeyup="checkPasswordIfSame()" placeholder="Room password" type="password" /><br />
				<input id="hostPassword" class=" widest" name="hostPassword" onkeyup="checkPasswordIfSame()" placeholder="Host password (can't be empty)" type="password" /><br />

				<div class="centerButton">
					<input id="createMeetingButton" class="wide" type="submit"disabled value="Create Meeting" /><br />
				</div>
			</div>
		}
		<div class="centerButton">
			<button id="backC" class="greyish" onclick="switchBetweenMenu()">Switch to Create Meeting</button>
		    <button id="backE" class="greyish" onclick="switchBetweenMenu()">Switch to Enter Meeting</button>
		</div>

		
		@*Enter meeting*@
		
			@using (Html.BeginForm("meetingPageUser", "Home", FormMethod.Post)) {
				<div id="EnterMeeting">
					<input id="meetingId" class="widest" name="meetingId" onkeyup="checkId()" placeholder="Meeting id" type="text" /><br />
					<input id="meetingPassword" class="widest" name="password" placeholder="Room OR Host Password (Can be empty)" type="password" /><br />


					<div class="centerButton">
						<input id="enterMeetingButton" class="wide" type="submit" disabled value="Enter Meeting" />
					</div>
				</div>
			}
			<br />
		
	</div>
</body>