@{
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['bar'] });
    google.charts.setOnLoadCallback(drawStuff);

    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawStuff);

    function drawStuff() {


        $.ajax({
            type: "POST",
            url: '@Url.Action("getStats", "Stats")',
            data: { meetingIdString : "@ViewBag.meetingid"},
            success: function (result) {

                var topicClicksOptions = {
                    legend: { position: 'none' },
                    chart: { subtitle: 'popularity by percentage' },
                    axes: {
                        x: {
                            0: { side: 'top', label: 'Topic clicks' } // Top x-axis.
                        }
                    },
                    bar: { groupWidth: "90%" },
                    backgroundColor: '#ffffff',
                };

                //First topic

                var Data_topicClicks = [['Topic clicks', 'clicks', 'Fobbed']];
                var split = result.split(';') // ; is topic
                var split2 = split[0].split(':');
                for (var i = 0; i < split2.length - 1; i++) {
                    Data_topicClicks.push([(i + 1) + "", parseInt(split2[i]), parseInt(split2[i])]);
                }
                topicClicksData = new google.visualization.arrayToDataTable(Data_topicClicks);

                var topicClicksChart = new google.charts.Bar(document.getElementById('topicClicks'));
                // Convert the Classic options to Material options.
                topicClicksChart.draw(topicClicksData, google.charts.Bar.convertOptions(topicClicksOptions));

                //End of First topic

                //Second topic

                var averageClickAverageUsersOptions = {
                    'chartArea': { 'width': '100%', 'height': '100%' },
                    'legend': { 'position': 'none' },
                    "pieSliceText": 'none',
                    'tooltip': { trigger: 'none' },
                    slices: {
                        0: { color: 'red' },
                        1: { color: 'transparent' }  //Change the color to w\e you like to
                    },

                    backgroundColor: 'transparent'

                };


                var Data_averageClickAverageUsers = [['Average attendee', 'Average fobbed']];

                Data_averageClickAverageUsers.push(["Don't exist anymore", parseFloat(split[1])]);

                Data_averageClickAverageUsers.push(["Average fobbed", parseFloat(split[1])]);



                var averageClickAverageUsersData = new google.visualization.arrayToDataTable(Data_averageClickAverageUsers);


                var averageClickAverageUsersChart = new google.charts.Bar(document.getElementById('averageClickAverageUsers'));

                averageClickAverageUsersChart.draw(averageClickAverageUsersData, averageClickAverageUsersOptions);


            }
        });

        var averageClickAverageUsersChart = new google.charts.Bar(document.getElementById('averageClickAverageUsers'));
        averageClickAverageUsersChart.draw(averageClickAverageUsersData, averageClickAverageUsersOptions);

    };

    function getStatistics() {

    }

    $(window).on('resizeEnd', function () {
        drawChart(data);
    });
</script>
<body class="bodyClass" onresize="drawStuff()">

    <h1>Stat screen</h1>

    <br />
    <div id="topicClicks" style="width: 100%"></div>
    <br />
    <div id="averageClickAverageUsers" style="width: 100%"></div>
    <br />

    <div style="width=100%">
        @using (Html.BeginForm("index", "Home", FormMethod.Post))
        {
            <button class="footerButton">Leave stat</button>
        }
    </div>

</body>
