@{
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['bar'] });
    google.charts.setOnLoadCallback(drawStuff);

    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawStuff);

    function drawStuff() {


        $.ajax({
            type: "POST",
            url: '@Url.Action("getStats", "Stats")',
            success: function (result) {

                var topicClicksOptions = {
                    legend: { position: 'none' },
                    chart: { subtitle: 'popularity by percentage' },
                    axes: {
                        x: {
                            0: { side: 'top', label: 'Topic clicks' } // Top x-axis.
                        }
                    },
                    bar: { groupWidth: "90%" },
                    backgroundColor: '#ffffff',


                };


                //First topic

                var Data_topicClicks = [['Topic clicks', 'clicks', 'Fobbed']];
                var split = result.split(';') // ; is topic
                var split2 = split[0].split(':');
                for (var i = 0; i < split2.length - 1; i++) {
                    
                    Data_topicClicks.push([(i + 1) + "", parseInt(split2[i]), parseInt(split2[i])]);
                    alert(split2[i]);
                    //alert("one push done");
                }
                topicClicksData = new google.visualization.arrayToDataTable(Data_topicClicks);

                var topicClicksChart = new google.charts.Bar(document.getElementById('topicClicks'));
                // Convert the Classic options to Material options.
                topicClicksChart.draw(topicClicksData, google.charts.Bar.convertOptions(topicClicksOptions));

                //End of First topic

                //Second topic

                var averageClickAverageUsersOptions = {
                    'chartArea': { 'width': '100%', 'height': '100%' },
                    'legend': { 'position': 'none' },
                    "pieSliceText": 'none',
                    'tooltip': { trigger: 'none' },
                    slices: {
                        0: { color: 'red' },
                        1: { color: 'transparent' }  //Change the color to w\e you like to
                    },

                    backgroundColor: 'transparent'

                };


                var Data_averageClickAverageUsers = [['Average attendee', 'Average fobbed']];
                
                Data_averageClickAverageUsers.push(["Don't exist anymore", parseFloat(split[1])]);

                Data_averageClickAverageUsers.push(["Average fobbed", parseFloat(split[1])]);



                var averageClickAverageUsersData = new google.visualization.arrayToDataTable(Data_averageClickAverageUsers);


                var averageClickAverageUsersChart = new google.charts.Bar(document.getElementById('averageClickAverageUsers'));
                
                averageClickAverageUsersChart.draw(averageClickAverageUsersData, averageClickAverageUsersOptions);

                //End of Second topic

                //Copy paste everything here
            }
        });


        /*     var averageClickAverageUsersData = google.visualization.arrayToDataTable([
              ['Average click\\no click', 'amount'],
              ['clicked', 1],
              ['no click', 5]

             ]);

     */

        /*   var averageFirstThreeButtonClickedData = google.visualization.arrayToDataTable([
           ['Average first clicks', 'second'],
           ['1st', 1],
           ['2nd', 5],
           ['3rd', 8]

           ]);

           var averageFirstThreeButtonClickedOptions = {
               legend: { position: 'none' },
               chart: { subtitle: 'popularity by percentage' },
               axes: {
                   x: {
                       0: { side: 'top', label: 'AverageButtonClickTiming' } // Top x-axis.
                   }
               },
               bar: { groupWidth: "90%" },
               backgroundColor: '#ffffff',


           };

           var topicButtonClickTimes = new google.visualization.arrayToDataTable([
           ['First clicks time','First click', 'Second click', 'Third click'],
           ["1", 2, 2.8, 4],
           ["2", 33, 47.1, 80],
           ["3", 18, 25.7,37],
           ["4", 54, 77.1,90],
           ["5", 23, 32.8,44],
           ["6", 32, 45.7,49],
           ["7", 47, 67.1, 72],
           ["8", 47, 67.1, 72],
           ["9", 47, 67.1, 72],
           ["10", 47, 67.1, 72],
           ["11", 47, 67.1, 72],
           ]);

           var topicButtonClickTimesOptions = {
               legend: { position: 'none' },
               chart: { subtitle: 'popularity by percentage' },
               axes: {
                   x: {
                       0: { side: 'top', label: 'Topic clicks' } // Top x-axis.
                   }
               },
               bar: { groupWidth: "90%" },
               backgroundColor: '#ffffff',


           };
           */


        var averageClickAverageUsersChart = new google.charts.Bar(document.getElementById('averageClickAverageUsers'));
        averageClickAverageUsersChart.draw(averageClickAverageUsersData, averageClickAverageUsersOptions);

        /*  var averageFirstThreeButtonClicked = new google.charts.Bar(document.getElementById('averageFirstThreeButtonClicked'));
          averageFirstThreeButtonClicked.draw(averageFirstThreeButtonClickedData, averageFirstThreeButtonClickedOptions);

          var firstClicksChart = new google.charts.Bar(document.getElementById('firstClicksChart'));
          firstClicksChart.draw(topicButtonClickTimes, topicButtonClickTimesOptions);*/
    };

    function getStatistics() {

    }

    $(window).on('resizeEnd', function () {
        drawChart(data);
    });
</script>
<body class="bodyClass" onresize="drawStuff()">

    <h1>Stat screen</h1>

    <!--
            -Average clicks before next topic
            -clicks per topic 
            -average time before button clicked
            -return who clicked multiple time/topic
            -satisfaction score

             -->

    <br />
    <div id="topicClicks" style="width: 100%"></div>
    <br />
    <div id="averageClickAverageUsers" style="width: 100%"></div>
    <br />

    <!-- <div id="firstClicksChart" style="width: 100%"></div>
    <br />
    <div id="averageFirstThreeButtonClicked" style="width: 100%"></div>
    <br />
    <p>satisfaction score</p>-->
    <!--
    insert magnificent button to return to the main page 
    -->
    <div style="width=100%">
        @using (Html.BeginForm("index", "Home", FormMethod.Post))
        {
            <button class="footerButton">Leave stat</button>
        }
    </div>

</body>
